@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&family=Roboto&display=swap');

/* The '*' wild card is used to target all elements.  The code removes the margins, padding & border 
from all html elements to allow us control them easily & we then style them specifically along the way */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;  /*Lato is from google fonts */
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and Logo styling */

h1, h2 {
    font-family: Roboto, sans-serif;    /* Roboto is from google fonts */
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;    /* This spaces each character in a word */
}

/* This properly aligns the logo and the nav links so they are visually balanced */
#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right; 
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* This creates a zooming animation effect on the background image */
/* This clears the image below the header so that the header text is not 
within the image and also scales up the image size  */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;   /* this hides the size increase */
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

/* Hero image styling */
/* no-repeat prevents the image from being repeated if smaller than the screen */
/* "center center" value is used to set the image horizontally & vertically */
/* The background property is used if the image is purely for decorative purpose.
 If not, then use the <img> tag */
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

    /* animates zoom effect on loading page. CSS animation is based on transitions & transformations */
    /* Transformations change the state of one or more elements & transitions are responsible for the smoothness of that change */
    animation-name: hero-zoom;  /* this must match the @keyframes name */
    animation-duration: 5s; /* Takes 5secs to scale the image up by 10% */
    animation-fill-mode: forwards;  /* this retains the state of the animation at the last keyframe which is 110%. the effect of this is that the image zooms in & remains there at that size */  
}

/* creates the level of zoom for hero image. animation is defined using the @keyframes rule followed by an animation name of your choice */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);   
    }   
}

#cover-text {
    font-size: 130%;
    font-family: Robot, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(241, 109,107, .7);

    /* Text overlay (text on the image) styling */
    bottom: 30px;   /* 30px above the bottom of the hero image */
    right: 150px;   /* 150px in from the right of the image container */
    position: absolute; /* This fix the text overlay in place */
}

/* club ethos */
#club-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: white; /* Use contrasting colours before with the 3 divs to enable you keep track of them as you proceed */
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: white;
}

#center-about {
    width: 33%;
    margin: 0 auto; /*This is used to center the middle div properly since there is no 'float:center' property/value */
    background-color: green;
}

/* This styles the hr to fit below the heading by setting its border. Borders can be applied to most 
elements that live inside the body element */
hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;  /* This provides some clearance around the hr rule */
}

/* This styles the left-about-heading class */
.left-about-heading {
    width: 60%;
    float: right;   /*This will make the content align with the photo in the middle */
    line-height: 20px;
    clear: both;   /* This ensures that each content block is aligned vertically */
    margin-bottom: 50px;    /* This creates some breathing space between the divs on why love running with us section */
}

/* This styles the right-about-heading class */
.right-about-heading {
    width: 60%;
    float: left;   /*This will make the content align with the photo in the middle */
    line-height: 20px;
    clear: both;   /* This ensures that each content block is aligned vertically */
    margin-bottom: 50px;    /* This creates some breathing space between the divs on why love running with us section */
}

/* This aligns the right heading h2 so the icons on the left & right hand sides are aligned towards the center image */ 
.right-about-heading h2 {
    text-align: right;
}

/* This makes the content for both the right & left hand side give the impression of a curve around the cener image */
.right-about-heading p {
    text-align: right;
}








