@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&family=Roboto&display=swap');

/* The '*' wild card is used to target all elements.  The code removes the margins, padding & border 
from all html elements to allow us control them easily & we then style them specifically along the way */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;  /*Lato is from google fonts */
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and Logo styling */

h1, h2 {
    font-family: Roboto, sans-serif;    /* Roboto is from google fonts */
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;    /* This spaces each character in a word */
}

/* This properly aligns the logo and the nav links so they are visually balanced */
#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right; 
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* This creates a zooming animation effect on the background image */
/* This clears the image below the header so that the header text is not 
within the image and also scales up the image size  */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;   /* this hides the size increase */
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

/* Hero image styling */
/* no-repeat prevents the image from being repeated if smaller than the screen */
/* "center center" value is used to set the image horizontally & vertically */
/* The background property is used if the image is purely for decorative purpose.
 If not, then use the <img> tag */
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

    /* animates zoom effect on loading page. CSS animation is based on transitions & transformations */
    /* Transformations change the state of one or more elements & transitions are responsible for the smoothness of that change */
    animation-name: hero-zoom;  /* this must match the @keyframes name */
    animation-duration: 5s; /* Takes 5secs to scale the image up by 10% */
    animation-fill-mode: forwards;  /* this retains the state of the animation at the last keyframe which is 110%. the effect of this is that the image zooms in & remains there at that size */  
}

/* creates the level of zoom for hero image. animation is defined using the @keyframes rule followed by an animation name of your choice */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);   
    }   
}

#cover-text {
    font-size: 130%;
    font-family: Robot, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(241, 109,107, .7);

    /* Text overlay (text on the image) styling */
    bottom: 30px;   /* 30px above the bottom of the hero image */
    right: 150px;   /* 150px in from the right of the image container */
    position: absolute; /* This fix the text overlay in place */
}

/* club ethos */
#club-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: white; /* Use contrasting colours before with the 3 divs to enable you keep track of them as you proceed */
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: white;
}

#center-about {
    width: 33%;
    margin: 0 auto; /*This is used to center the middle div properly since there is no 'float:center' property/value */
    background-color: white;
}

/* This styles the hr to fit below the heading by setting its border. Borders can be applied to most 
elements that live inside the body element */
hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;  /* This provides some clearance around the hr rule */
}

/* This styles the left-about-heading class within its Parent container called left-about */
.left-about-heading {
    width: 60%;
    float: right;   /*This will make the content align with the photo in the middle */
    line-height: 20px;
    clear: both;   /* This ensures that each content block is aligned vertically */
    margin-bottom: 50px;    /* This creates some breathing space between the divs on why love running with us section */
}

/* This styles the right-about-heading class within its Parent container called right-about */
.right-about-heading {
    width: 60%;
    float: left;   /*This will make the content align with the photo in the middle */
    line-height: 20px;
    clear: both;   /* This ensures that each content block is aligned vertically */
    margin-bottom: 50px;    /* This creates some breathing space between the divs on why love running with us section */
}

/* This aligns the right heading h2 so the icons on the left & right hand sides are aligned towards the center image */ 
.right-about-heading h2 {
    text-align: right;
}

/* This makes the content for both the right & left hand side give the impression of a curve around the cener image */
.right-about-heading p {
    text-align: right;
}

/*This styles the 'Why love Running with us' section by giving it an id of 'welcome' */
#welcome {
    text-align: center;
    margin: 20px 0; /*This pushes the heading 20px down from the hero image */
    font-size: 280%;
}

/*This is the Parent div for the 'circle-cover-bg' id & the following styles are applied to it */
#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color:#ccc;
    border-width: 1px;
    border-radius: 50%; /*This is the trick used to create a circle but will only work for containers with equal width & height dimensions */
    margin: 0 auto; /*This centers the circle within its Parent container called center-about */
}

/* This styles the round image. The 'center center' value will center the image horizontally & vertically
while 'no-repeat' will prevent the repeat of the image.
Ensure your chosen image is within 300 x 300px to make it easier with positioning of the image to the center */ 
#circle-cover-bg {
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;   /* This is set to 100% of the Parent div. Remember to give the image a height or else it won't show up */
    border-radius: 50%;
}

/* event times styling */
#times {
    background: url('../images/times-background.webp');
    background-repeat: no-repeat;
    background-size: cover; /*This will make the image fill the allocated section dimensions */
    background-position: center;
    width: 100%;
    overflow: hidden;   /*This hides any potential overflow */
}

/*This targets the div descendants of 'times' section & all the panels within that section will be
affected by the styling applied here */
#times div {
    color: #fafafa;
    background-color: rgba(0,0,0,0.6);
    width: 20%; /*This width is too large it made one of the panels to fall to the next line so we used box-sizing property below to make it all fit into one line */
    height: 300px;
    float: left;    /*This will make the panels display horizontally within the flow of the page */
    padding: 30px 0 0 10px;
    text-align: center; /*This centers our texts for spatial balance within the panels */ 
    border: 2px solid white;    /*This creates a white border around each div so the bg-image appears broken up into 5 sections */
    box-sizing: border-box; /*Since the total width of 5 panels is already 100% so adding border around them increases the width so we get around this by using the box-sizing property. this tells the browser to include the border width in the total size of this element */ 
}

/*This sets the colour for h2 headings that are children of 'times' section */
#times h2 {
    color: #fafafa;
}

/* footer styling */
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;    /* This targets the list items to align them horizontally */
}

.social-networks i {    /*This targets the social media icons individually */
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a; /* This changes the color of the icons to make it consistent with the colour theme of the website */
}

/* gallery photos */
#photos {
    clear: both;    /*This ensures that the photo section and its content displays below the header */
    line-height: 0; /*This removes any horizontal gaps between the images */
    column-count: 4;    /*This is set according to how many columns you want, if there are not many images to justify 4 columns, you can set 3 or 2 columns */
    column-gap: 0;  /*This removes the vertical gaps between photos */
}

/*This is used to target images within the photo section. It re-sizes each photo/image individually so that one is not bigger than the other */
#photos > img {
    width: 100%;
}

/* Media Queries - Contains styles that are only called when certain criterias are met such as when a specified screen width has been reached */
/* For larger to medium screens size from 1200px wide and down */
/* 1200px was chosen as the breakpoint here because that is the point at which the desktop specific layout
for the club ethos elements get distorted and visually compromised */
@media screen and (max-width:1200px) {
    #club-ethos {
        width: 65%; /*This creates a narrower, vertical design for tablet viewing */
        height: 1200px; /*To accomodate the vertical layout & also maintain the site's structural ratio */
        margin: 0 auto; /*This centers the content */
    }

    #welcome {
        padding: 30px 0;    /*This keeps the balance btw the welcome meassage & the main image above */
        margin: 0;  /*This further cleans up the vertical gap */
    }

    #left-about, #right-about {
        width: 100%;    /* It sets the width of each to 100% of the Parent section */
        float: left;
        padding: 0; /*This overrides any default desktop-level padding */ 
    }

    #center-about {
        clear: both;    /*This pushes the center-about image below the text content */
        width: 100%;
        float: left;
        padding: 0; /*Clears out any padding set at the desktop-level */
    }

    hr {
        display: none;  /*This will hide the horizontal rule under each of the content headers for the club-ethos at the tablet breakpoint */
    }
}








